* {
  margin: 0;
  padding: 0;
}

body{
    /* display: flex; */
    display: grid;
    justify-content: center;
    /* align-items: center; */
}

div {
  background-color: aqua;
  border: 5px solid blue;
  /* display: inline; */
  /* display: inline-block; */
  /* display: none; */
  /* visibility: hidden; */
  padding: 40px;
}

span {
  background-color: lightcoral;
  border: 5px solid red;
}
