.nav-list{
    display: flex;
}

.list-item{
    padding: 20px;
    /* list-style: none; */
    background-color: yellow;
    list-style-position: inside;
    border: 2px solid black;
    /* list-style-type: lower-latin; */
}