*{
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 15px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon img{
    width: 50px;
}

.nav-list ul{
    display: flex;
    gap: 30px;
}

.nav-list ul li{
    list-style: none;
    display: flex;
}

.dropdown{
    cursor: pointer;
}

.list-item>.drop-list{
    display: none;
    position: absolute;
    padding: 20px;
}

.dropdown:hover .drop-list{
    display: block;
    margin: 10px;
}

.drop-list-item{
    padding: 5px 10px;
}
.drop-list-item:hover{
    background-color: blue;
    color: white;
}