* {
  margin: 0;
  padding: 0;
}

.box {
  color: white;
  background-color: red;
  height: 100px;
  box-sizing: border-box;
}

.box-2 {
    padding: 10px;
}

.box-3 {
    margin: 10px;
}

.box-4{
    border: 5px solid black;
}
