*{
    margin: 0;
    padding: 0;
}

p{
    background-color: rgb(158, 252, 252);
}
a{
    background-color: orange;
}
div{
    background-color: orange;
    display: inline;
}
span{
    background-color: rgb(158, 252, 252);
    display: block;
}